.container {
  text-align: center;
  margin: 50px auto;
}

.hit-number {
  border: 5px #5e5e5e solid;
  color: #5e5e5e;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto 30px;
  font-size: 150px;
}

.PushButton {
  background: #ffaa00;
  border: 9px #ffcc00 solid;
  color: #762323;
  border-radius: calc(5em + 4px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 120px;
  width: 120px;
  text-shadow: 0 1px 2px #ffdd00;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
}

.PushButton::after {
  border: 1px #ffee00 dashed;
  border-radius: 50em;
  box-shadow: 0 0 2px 1px #ff9900, 0 2px 1px #ff9900 inset,
    0 -4px 4px #ff9900 inset;
  content: "";
  position: absolute;
  left: 1.5px;
  top: 1.5px;
  height: calc(4.5em + 7px);
  width: calc(4.5em + 7px);
}

.memorySpace {
  margin: 30px auto 0;
}

.stamp-card {
  display: inline-block;
  border: 3px dotted #000;
  padding: 0.5em 0.5em;
  margin: 10px;
  font-weight: bold;
  color: rgb(82, 81, 81);
}

.memoryNum {
  display: inline-block;
  border: 3px dotted rgb(255, 255, 255);
  padding: 0.5em 0.5em;
  margin: 10px;
  font-weight: bold;
  color: #ffffff;
  background: #b80c0c;
}
